@import '../components/sass-bootstrap/lib/bootstrap.scss';
@import '../components/sass-bootstrap/lib/responsive.scss';

$title: #196ccb;

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/mw.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Londrina Solid', cursive;
  font-size: 18px;
}

.container {
  width: 900px;

  .category {
    margin-bottom: 150px;
    padding: 25px;
    color: $title;
    text-align: center;
    background-color: #dadfe5;
  }

  header {
    margin-top: 150px;
    .logo {
      width: 140px;
      height: 140px;
      margin: auto;
      border-radius: 90px;
      background-image: url(https://secure.gravatar.com/avatar/a2b9398e4753f15d628c8d928600d90e?s=140)
    }
    ul.nav {
      li {
        display: inline-block;
        font-size: 40px;
        margin: 20px 20px;
        a {
          color: #011731;
          &:hover, &:focus {
            color: $title;
            background: none;
          }
        }
      }
    }
  }

  .languages {
    color: #565656;
    font-size: 30px;
    h1 {
      color: $title;
      margin-bottom: 10px;
    }
    .main-languages {
      width: 415px;
      margin: auto;
      margin-bottom: 40px;
      .language {
        float: left;
        width: 200px;
        img {
          margin-bottom: 30px;
        }
      }
    }
    .sub-languages {
      font-size: 20px;
      width: 650px;
      margin: auto;
      &>.span4 {
        width: 150px;
      }
    }
  }

  .other {
    .apis p {
      font-size: 70px;
      height: 90px;
      padding-top: 35px;
    }
  }

}