@import '../components/sass-bootstrap/lib/bootstrap.scss';
@import '../components/sass-bootstrap/lib/responsive.scss';

body {
  background-image: url(/assets/images/mw.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  font-family: 'Londrina Solid', cursive;
  font-size: 18px;
}

.container {
  width: 100%;

  .category {
    margin-bottom: 150px;
    padding: 70px;
    color: #196ccb;
    text-align: center;
    background-color: #dadfe5;
  }

  header {
    margin-top: 150px;
    .logo {
      width: 140px;
      height: 140px;
      margin: auto;
      border-radius: 90px;
      background-image: url(https://secure.gravatar.com/avatar/a2b9398e4753f15d628c8d928600d90e?s=140)
    }
    ul.nav {
      li {
        display: inline-block;
        font-size: 40px;
        margin: 20px 20px;
        a {
          color: #011731;
          &:hover, &:focus {
            color: #196ccb;
            background: none;
          }
        }
      }
    }
  }

  .abilities {
    
  }
}